{% extends "base.html" %}

{% block title %}List of apartments{% endblock %}

{% block navbar %}
  <div class="navbar">
	<div class="navbar-inner">
	  <ul class="nav">
	    <li><a href="{% url 'realtdb-houses' %}">Houses</a></li>
        <li class="active"><a>Apartments</a></li>
	  </ul>
	</div>
  </div>
{% endblock %}

{% block content %}
<h1>Directory of apartments</h1>

<form action="." method="post">{% csrf_token %}
    <p>{{ error }}</p>
    <table>
        <tr><td><label for="id_address">Address: </label></td><td><input id="id_address" type="text" name="address" /></td></tr>
        <tr><td><label for="id_area">Area: </label></td><td><input id="id_area" type="text" name="area" /></td></tr>
        <tr><td><label for="id_price">Price: </label></td><td><input id="id_price" type="text" name="price" /></td></tr>
        <tr><td><label for="id_rooms">Rooms: </label></td><td><input id="id_rooms" type="text" name="rooms" /></td></tr>
        <tr><td><label for="id_floor">Floor: </label></td><td><input id="id_floor" type="text" name="floor" /></td></tr>
        <tr><td><label for="id_floors">Total floors: </label></td><td><input id="id_floors" type="text" name="floors" /></td></tr>
    </table>
    <p><input type="submit" value="Add to list" /></p>
</form>

<h2>List of known apartments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Address</th>
            <th>Area (m<sup>2</sup>)</th>
            <th>Rooms</th>
            <th>Floor</th>
            <th>Price</th>
            <th>Realtor</th>
        </tr>
    </thead>
    <tbody>
    {% for apartment in apartment_list %}
        <tr>
            <td>{{ apartment.address }}</td>
            <td>{{ apartment.area }}</td>
            <td>{{ apartment.rooms }}</td>
            <td>{{ apartment.floor }} / {{ apartment.floors }}</td>
            <td>{{ apartment.price }}</td>
            <td>{{ apartment.realtor.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
