{% extends "base.html" %}

{% block title %}List of houses{% endblock %}

{% block navbar %}
  <div class="navbar">
	<div class="navbar-inner">
	  <ul class="nav">
        <li class="active"><a>Houses</a></li>
        <li><a href="{% url 'realtdb-apartments' %}">Apartments</a></li>
	  </ul>
	</div>
  </div>
{% endblock %}

{% block content %}
<h1>Directory of houses</h1>

<form action="." method="post">{% csrf_token %}
    <p>{{ error }}</p>
    <table>
      <tr><td><label for="id_address">Address: </label></td><td><input id="id_address" type="text" name="address" /></td></tr>
      <tr><td><label for="id_area">Area: </label></td><td><input id="id_area" type="text" name="area" /></td></tr>
      <tr><td><label for="id_price">Price: </label></td><td><input id="id_price" type="text" name="price" /></td></tr>
    </table>
    <p><input type="submit" value="Add to list" /></p>
</form>

<h2>List of known houses</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Address</th>
            <th>Area (m<sup>2</sup>)</th>
            <th>Price</th>
            <th>Realtor</th></tr>
    </thead>
    <tbody>
        {% for house in house_list %}
        <tr>
            <td>{{ house.address }}</td>
            <td>{{ house.area }}</td>
            <td>{{ house.price }}</td>
            <td>{{ house.realtor.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
